<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loader">
    <img src="">
  </div>
  <ion-card>
    <ion-card-header>Seja bem vindo ao <strong>OurFinances!</strong></ion-card-header>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-input type="text" formControlName="username" placeholder="Digite o seu nome de usuário"></ion-input>
        <ion-input type="password" formControlName="password" placeholder="Digite a sua senha"></ion-input>
        <br>
        <ion-button (click)="authenticateLogin()" color="dark" type="submit" expand="full">Login</ion-button>
        <ion-button color="danger" expand="full">Esqueci minha senha</ion-button>
        <div class="hr"></div>
        <ion-button [routerLink]="['/create-account']" expand="full">Não tenho uma conta</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-title style="font-size: 12px; text-align: center;">OurFinances - Powered by Igor Iwashita</ion-title>
    </ion-toolbar>
  </ion-footer>